*{
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

header {
    background-color: #F2E9D8;
    height: 900px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}

.logo {
    margin-left: 320px;
    margin-bottom: 20px;
}

.header-menu img, .header-menu div {
    margin-top: 20px;
}

.nav {
    display: flex;
}

nav {
    height: 20px;
    margin-top: 13px;
}

nav a {
    text-decoration-line: none;
    color: black;
    margin-right: 20px;
}

.download-btn1, .download-btn2 {
    background-color: #D97652;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 40px;
    border-style: none;
    width: 140px;
    height: 50px;
}

.download-btn1 {
    margin-right: 320px;
}

.header-banner {
    display: flex;
}

.banner-text1, .banner-text2 {
    flex-basis: calc(50%);
}

.bannertext {
    text-align: left;
    margin-left: 320px;
}

.banner-text1 {
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    margin-top: 302px;
    margin-right: 120px;
    width: 737px;
    height: 120px;
}

.banner-text2 {
    font-size: 16px;
    text-align: left;
    margin-top: 40px;
}

.download-btn2 {
    margin-top: 40px;
}

.box-cat {
    width: 415px;
    height: 766px;
    text-align: right;
    margin-top: 134px;
}

.sleep-cat {
    width: 660px;
    height: 390px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-right: 110px;
}

.maintext {
    display: flex;
    margin-top: 80px;
    margin-left: 320px;
}

.main-text1 {
    font-size: 36px;
    font-weight: bold;
    width: 510px;
    height: 135px;
    text-align: left;
    margin-top: 92px;
}

.main-text2 {
    font-size: 16px;
    width: 510px;
    height: 40px;
    text-align: left;
    margin-top: 30px;
}

.subtext {
    margin-top: 120px;
    margin-left: 20px;
}

.sub-text1 {
    font-size: 48px;
    font-weight: bold;
    color: #D97652;
}

.sub-text2 {
    margin-top: 40px;
}

.sub-text2 span {
    color: #D97652;
}

.three-cat {
    margin-top: 88px;
}

.three-cat img {
    width: 378px;
    height: 378px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-inline: 36px;
}

.more-btn {
    background-color: #D97652;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 40px;
    border-style: none;
    width: 140px;
    height: 50px;
}

.more {
    display: flex;
    margin-left: 510px;
    margin-top: 90px;
}
.more p {
    text-align: left;
    font-size: 16px;
    margin-right: 52px;
}

.modal {
    width: 1280px;
    height: 200px;
    background-color: #263140;
    border-radius: 30px;
    margin-left: 320px;
    margin-top: 90px;
    color: #F2E9D8;
    text-align: left;
    display: flex;
}

.modal-title {
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
}

.modal-text {
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 143px;
}

.input-box {
    margin-top: 60px;
    margin-right: 60px;
    border-radius: 50px;
    width: 530px;
    height: 60px;
    background-color: #FFFFFF;
    display: flexbox;
    padding-top: 25px;
    padding-left: 20px;
    
}